@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.address {

  &__group {
    cursor: pointer;

    transition: all 0.1s ease-in-out;

    &:hover {
      text-shadow:
      0 0 15px $color-address-hover,
    }

    &:first-of-type {

      .address__label {
        @include for-tablet() {
          padding-top: 0;
        }
      }
    }

    &:first-of-type {

      .address__label {
        @include for-desktop() {
          padding-top: 0;
        }
      }
    }
  }

  &__label {
    font-family: $font-main;
    font-weight: $font-weight-regular;
    font-size: $font-size-s;
    line-height: 140%;
    letter-spacing: 0px;

    padding-top: $space-sm;
  }

  &__content {
    font-family: $font-main;
    font-weight: $font-weight-medium;
    font-size: $font-size-m;
    line-height: 140%;
    letter-spacing: 0px;

    padding-top: $space-xs;

    text-decoration: none;
    color: $color-primary;
  }
}
