@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.article {

  &__model {
    font-family: $font-main;
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
    line-height: 140%;
    letter-spacing: 0px;
  }

  &__description {
    font-family: $font-main;
    font-weight: $font-weight-regular;
    font-style: normal;
    font-size: $font-size-m;
    line-height: 140%;
    letter-spacing: 0px;
  }

  &__price {
    font-family: $font-main;
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
    line-height: 140%;
    letter-spacing: 0px;
  }

  &__function {
    font-family: $font-main;
    font-weight: $font-weight-bold;
    font-size: $font-size-l;
    line-height: 140%;
    letter-spacing: 0px;
  }

  &__pictures {
    padding-bottom: $space-m;
    justify-self: center;
  }

  &__item {
    width: 280px;
  }

  &__paragraph {
    padding-top: $space-xs;
    padding-bottom: $space-xs;
  }

  &__images {
    padding-bottom: $space-s;
  }

  &__image {

    @include for-desktop() {
      overflow: hidden;
      transition: transform 0.3s ease-in-out;

      @include hover(transform, scale(1.05));
    }
  }
}
