@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.contact {

  padding-bottom: $section-spacer-desktop;

  @include grid();

  &__form {
    grid-column: span 2;

    @include for-tablet() {
      grid-column: span 3;
    }

    @include for-desktop() {
      grid-column: span 5;
    }
  }

  &__address {
    grid-column: span 2;

    @include for-tablet() {
      grid-column: 4 / 7;
    }

    @include for-desktop() {
      grid-column: 8 / 13;
    }
  }
}
