@use '../utils/mixins' as *;

.footer {
  background-image: url('./images/footer/footer-background-mobile.jpg');
  height: 200px;
  width: 100%;
  background-size: cover;
  background-position: center right;

  @include for-tablet() {
    background-image: url('./images/footer/footer-background.jpg');
    height: 480px;
  }

  @include for-desktop() {
    background-image: url('./images/footer/footer-background.jpg');
    height: 555px;
  }
}
