.header {
  background-color: #1D1D1D;
  background-image: url('./header-background.jpg');
  background-repeat: no-repeat;
  min-height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  gap: 270px;
}
