@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.links {
  padding-top: $space-xl;

  &__list {
    padding-bottom: $space-xs;
  }

  &__item {
    padding-bottom: $space-m;
  }

  &__compare {
    text-decoration: none;
    color: $color-primary;
  }

  &__link {
    font-family: $font-main;
    font-weight: $font-weight-semi-bold;
    font-size: $font-size-l;
    line-height: 24px;
    letter-spacing: 2px;
    vertical-align: middle;
    text-transform: uppercase;
    text-decoration: none;
    border-bottom: 1px solid transparent;
    display: inline-block;


    color: $color-text-menu;

    &:hover {
      border-bottom: 1px solid $color-text-menu;
    }

    @include for-tablet() {
      font-family: $font-main;
      font-weight: $font-weight-semi-bold;
      font-size: $font-size-l;
      line-height: 24px;
      letter-spacing: 2px;
      vertical-align: middle;
      text-transform: uppercase;
    }

    @include for-desktop() {
      font-family: $font-main;
      font-weight: $font-weight-bold;
      font-size: $font-size-l;
      line-height: 24px;
      letter-spacing: 2px;
      vertical-align: middle;
      text-transform: uppercase;
    }
  }
}
