@use '../utils/mixins' as *;

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;

  &__logo {

    @include for-desktop() {
      height: 56px;
    }

     &:hover {
    filter: drop-shadow(0 5px 15px rgba(255, 255, 255, 0.8));
  }
  }

  &-block {
    display: flex;
    gap: 24px;
    align-items: center;

    @include for-desktop() {
      height: 32px;
      gap: 48px;
    }

    &__phone {

      @include for-desktop() {
        height: 24px;
      }
    }

    &__menu {

      @include for-desktop() {
        height: 16px;
      }

      &-close {

        @include for-desktop() {
          height: 21px;
        }
      }
    }
  }
}
