.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24px;

  &__logo {

     &:hover {
    filter: drop-shadow(0 5px 15px rgba(255, 255, 255, 0.8));
  }
  }

  &-block {
    display: flex;
    gap: 24px;
    align-items: center;
  }
}
