@use '../utils/mixins' as *;

.phone {

  &__label {
    align-self: center;
    font-family: Poppins;
    font-weight: 700;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;

    color: #FFFFFF;
    position: absolute;
    transform: translateX(calc(-100% - 20px));

    text-shadow:
      0 0 15px rgba(255, 255, 255, 0.9),
  }

  &:not(:hover) &__label {
    @include visually-hidden();
  }

  &__call {
    color: #FFFFFF;
    text-decoration: none;
  }
}
