@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.phone {

  &__label {
    align-self: center;
    font-family: $font-main;
    font-weight: $font-weight-bold;
    font-size: $font-size-xs;
    line-height: 16px;
    letter-spacing: 2px;
    text-align: right;
    vertical-align: middle;
    text-transform: uppercase;

    color: #FFFFFF;
    position: absolute;
    transform: translateX(calc(-100% - 20px));

    text-shadow:
      0 0 15px $color-phone-shadow;
  }

  &:not(:hover) &__label {
    @include visually-hidden();
  }

  &__call {
    color: $color-phone-shadow;
    text-decoration: none;
  }
}
