@use '../utils/mixins' as *;

.pictures {

  @include grid();

  &__image {
    object-fit: cover;
    height: 100%;
    width: 130px;

    @include for-tablet() {
      grid-column: span 4;
      height: 187px;

      &--small {
        grid-column: span 2;
        width: 100%;
      }

      &--big {
        grid-column: span 4;
        width: 100%;
      }
    }

    @include for-desktop() {
      grid-column: span 6;
      height: 320px;


    &--small {
      grid-column: span 4;
      width: 100%;
    }

    &--big {
      grid-column: span 8;
      width: 100%;
    }
    }
  }
}
