@use '../utils/reset' as *;
@use '../utils/mixins' as *;

.title {
  font-family: Poppins, Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 100%;
  letter-spacing: -1.5px;
  text-align: center;
  vertical-align: middle;

  color: #FFFFFF;

  @include for-tablet() {
    font-family: Poppins;
    font-weight: 700;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
  }

  @include for-desktop() {
    font-family: Poppins;
    font-weight: 700;
    font-size: 80px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
  }

  &--secondary {
    background-color: black;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 32px;
    line-height: 100%;
    letter-spacing: -1.5px;
    text-align: left;

    color: #FFFFFF;

      @include for-tablet() {
        font-family: Poppins;
        font-weight: 500;
        font-style: Medium;
        font-size: 48px;
        line-height: 100%;
        letter-spacing: -1.5px;
        width: 288px;
      }

     @include for-desktop() {
        font-family: Poppins;
        font-weight: 500;
        font-size: 64px;
        line-height: 100%;
        letter-spacing: -1.5px;
        width: 411px;
     }
  }

  &__glow {
    color: #FFFFFF;
    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.8),
    0 0 15px rgba(255, 255, 255 , 0.5);
  }

  &--section {
    font-family: Poppins;
    font-weight: 500;
    font-size: 32px;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    text-transform: capitalize;

    @include for-tablet() {
      font-family: Poppins;
      font-weight: 500;
      font-size: 48px;
      line-height: 100%;
      letter-spacing: -1.5px;
      text-align: center;
    }

    @include for-desktop() {
      font-family: Poppins;
      font-weight: 500;
      font-size: 64px;
      line-height: 100%;
      letter-spacing: -1.5px;
      text-align: center;
    }
  }
}
