@use '../utils/mixins' as *;
@use '../utils/variables' as *;

.title {
  font-family: $font-main;
  font-weight: $font-weight-bold;
  font-size: $font-size-h1-mobile;
  line-height: $lh-none;
  letter-spacing: -1.5px;
  text-align: center;
  vertical-align: middle;

  color: $color-title-header;

  @include for-tablet() {
    font-family: $font-main;
    font-weight: $font-weight-bold;
    font-size: $font-size-h1-tab;
    line-height: $lh-none;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
  }

  @include for-desktop() {
    font-family: $font-main;
    font-weight: $font-weight-bold;
    font-size: $font-size-h1-desk;
    line-height: $lh-none;
    letter-spacing: -1.5px;
    text-align: center;
    vertical-align: middle;
  }

  &--secondary {
    background-color: $color-bg;
    font-family: $font-main;
    font-weight: $font-weight-medium;
    font-style: Medium;
    font-size: $font-size-h2-mobile;
    line-height: $lh-none;
    letter-spacing: -1.5px;
    text-align: left;

    color: $color-title-main;

      @include for-tablet() {
        font-family: $font-main;
        font-weight: $font-weight-medium;
        font-style: Medium;
        font-size: $font-size-h2-tab;
        line-height: $lh-none;
        letter-spacing: -1.5px;
        width: 288px;
      }

     @include for-desktop() {
        font-family: $font-main;
        font-weight: $font-weight-medium;
        font-size: $font-size-h2-desk;
        line-height: $lh-none;
        letter-spacing: -1.5px;
        width: 411px;
     }
  }

  &__glow {
    text-shadow:
    0 0 10px $color-title-glow-light,
    0 0 15px $color-title-glow-dark;
  }

  &--section {
    font-family: $font-main;
    font-weight: $font-weight-medium;
    font-size: $font-size-h2-mobile;
    line-height: 32px;
    letter-spacing: -1.5px;
    text-align: center;
    text-transform: capitalize;

    @include for-tablet() {
      font-family: $font-main;
      font-weight: $font-weight-medium;
      font-size: $font-size-h2-tab;
      line-height: $lh-none;
      letter-spacing: -1.5px;
      text-align: center;
    }

    @include for-desktop() {
      font-family: $font-main;
      font-weight: $font-weight-medium;
      font-size: $font-size-h2-desk;
      line-height: $lh-none;
      letter-spacing: -1.5px;
      text-align: center;
    }
  }
}
