@font-face {
  font-family: poppins, Arial, Helvetica, sans-serif;
  src: url('../fonts/poppins-v24-latin/poppins-v24-latin-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}
