// Typography

$font-main: Poppins;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semi-bold: 600;
$font-weight-bold: 700;

// Typography - Font sizes

$font-size-h1-desk: 80px;
$font-size-h1-tab: 64px;
$font-size-h1-mobile: 36px;

$font-size-h2-desk: 64px;
$font-size-h2-tab: 48px;
$font-size-h2-mobile: 32px;

$font-size-xs: 12px;
$font-size-s: 14px;
$font-size-m: 16px;
$font-size-l: 24px;

// Line heights

$lh-none: 1;

// Section spacing

$section-spacer-desktop: 164px;
$section-spacer-tablet: 120px;
$section-spacer-mobile: 80px;

// Micro spacers

$space-xs: 8px;
$space-s: 16px;
$space-sm: 24px;
$space-m: 32px;
$space-l: 48px;
$space-xl: 64px;
$space-xxl: 92px;

// Breakpoints

$bp-tablet: 744px;
$bp-desktop: 1260px;

// Grid gaps

$gap-s: 20px;
$gap-m: 24px;

// Components

$btn-height: 56px;
$btn-border-radius: 28px;

// Colors

$color-black: #1D1D1D;
$color-white: #FFFFFF;
$color-brown: #E8E8F066;
$color-light-grey: #E8E8F0A3;
$color-grey: #C2C2C2;
$color-dark-grey: #7E7E83;
$color-daylight: rgba(255, 255, 255, 0.8);
$color-milky-white: #F8F8FA;
$color-midnight: rgba(0, 0, 0, 0.8);
$color-black-shadow: rgba(0, 0, 0, 1);
$color-clay-grey: rgba(255, 255, 255 , 0.5);


// Functional Colors

$color-primary: $color-white;
$color-bg: $color-black;
$color-bg-menu: $color-grey;
$color-title-header: $color-white;
$color-title-main: $color-white;
$color-title-glow-light: $color-daylight;
$color-title-glow-dark: $color-clay-grey;
$color-text-menu: $color-black;
$color-main-logo-hover: $color-daylight;
$color-menu-logo-hover: $color-midnight;
$color-menu-link: $color-black;
$color-form: $color-milky-white;
$color-form-border: #D5D7DE;
$color-placeholder: $color-dark-grey;
$color-button-bg: $color-white;
$color-button-text: $color-black;
$color-button-hover: $color-brown;
$color-button-active: $color-light-grey;
$color-address-hover: $color-daylight;
$color-phone-number: $color-black;
$color-phone-call-link: $color-black;
$color-phone-icon: $color-white;
$color-phone-shadow: $color-daylight;
$color-phone-shadow-menu: $color-black-shadow;




